#
# Copyright (C) 2022 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

# Fingerprint
on init
    chmod 0666 /dev/goodix_fp
    chown system system /dev/goodix_fp

    chown system system /sys/touchpanel/fod_status
    chmod 0644 /sys/touchpanel/fod_status

on post-fs-data
    mkdir /data/vendor/goodix 0770 system system

    mkdir /mnt/vendor/persist/goodix 0770 system system

# Hardware revision
on property:ro.boot.hwlevel=*
    setprop ro.boot.hardware.revision ${ro.boot.hwc}_${ro.boot.hwlevel}_${ro.boot.hwversion}

# Health
on boot
    chmod 0660 /sys/class/power_supply/battery/input_suspend
    chown system system /sys/class/power_supply/battery/input_suspend

# NFC
service qti_esepowermanager_service_1_1 /vendor/bin/hw/vendor.qti.esepowermanager@1.1-service
    override
    class hal
    user system
    group nfc system
    disabled

service secureelement-hal_1_2 /vendor/bin/hw/vendor.qti.secure_element@1.2-service
    override
    class hal
    user system
    group system
    disabled

service vendor.nfc_hal_service /vendor/bin/hw/android.hardware.nfc-service.nxp
    override
    class early_hal
    user nfc
    group nfc
    disabled

on boot && property:ro.boot.product.hardware.sku=nfc
    enable qti_esepowermanager_service_1_1
    enable secureelement-hal_1_2
    enable vendor.nfc_hal_service

# NVMAC
on property:init.svc.vendor.nv_mac=stopped
    start vendor.btmac-sh

service vendor.btmac-sh /vendor/bin/init.mi.btmac.sh
    class late_start
    user system
    group system bluetooth wifi
    oneshot
    disabled

# PowerShare
on boot
    chown system system /sys/devices/platform/soc/c440000.qcom,spmi/spmi-0/spmi0-02/c440000.qcom,spmi:qcom,pm8150b@2:qcom,qpnp-smb5/power_supply/wireless/reverse_chg_mode

# Radio
on early-init
    setprop ro.vendor.radio.midevice ${ro.product.vendor.device}

# UDFPS
on property:ro.boot.hwlevel=P0.1
    setprop persist.vendor.fingerprint.sensor_location 549|1925|99

on property:ro.boot.hwlevel=P1
    setprop persist.vendor.fingerprint.sensor_location 549|1925|99
